.title h1{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: xx-large;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.rowS{
    padding-top: 2rem;
}

.example-full-width{
    padding-right: 2rem;
    padding-left: 2rem;
}

.buttonS{
    display: flex;
    justify-content: center;
}

.mat-elevation-z8{
    padding-bottom: 2rem;
    
}

.flex{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    
}

.upload{
    padding: 3rem;
}

