.title h1{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: xx-large;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.container-fluid{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rowS{
    padding-top: 2rem;
}

.example-full-width{
    padding-right: 2rem;
}

.buttonS{
    margin-left: 12rem;
}
