
.example-container {
    height: 643px;
   
  }
  
  .example-toolbar {
    display: flex;
    align-items: center;
    padding: 0 16px;
    background-color: #1976d2;
    
  }
  
  .example-app-name {
    margin: 0;
  }
  
  .nav {
    width: 250px; /* Larghezza del menu */
    padding: 16px;
    background-color: #f0f0f0; /* Colore di sfondo del menu */
  }
  

  .mat-list-item {
    cursor: pointer;
    padding: 10px 0;
  }
  

  .listS {
    margin: 0;
    font-size: 16px;
  }

  .head{
    display: flex;
    justify-content: space-around;
  }
  

  mat-sidenav-content {
    padding: 20px;
  }
  

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    
  }
  
 