
  <div class="example-container">
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">People main</h1>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-container"  >
      <mat-sidenav #sidenav [mode]="'' || 'over'" class="nav">
        <div class="head">
          <h2 class="listS">Menu</h2>
          <button mat-button (click)="sidenav.toggle()"><mat-icon>close</mat-icon></button>
        </div>
        <mat-list role="list" >
          <mat-list-item role="listitem" routerLink="table" ><h3 class="listS">Tabella</h3></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem" routerLink="state" ><h3 class="listS">Stato applicazione</h3></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem" routerLink="form"><h3 class="listS">Form</h3></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem" routerLink="operation"><h3 class="listS">Operazioni</h3></mat-list-item>
          <mat-divider></mat-divider>
        
        </mat-list>
      
      </mat-sidenav>
    
      <mat-sidenav-content><router-outlet></router-outlet>        
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  

  
