.example-container {
    width: 1519px;
    height: 800px;
    
    
  }
.side{
    background-color: rgb(47, 47, 97);
    border-top: 1px solid 
}

.nav-link{
    color: white;
    font-size: large;
}